<html>
    <form action="/Display" method="POST">
        <h4 class="widget_title">Enter Personal Details</h4>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" autocomplete="off" name="firstname" required placeholder="First Name">
                            </div>
            <div class="input-group mb-3">
                                <input type="text" class="form-control" autocomplete="off" name="lastname" placeholder="Last Name" required>
                            </div>
            <div class="input-group mb-3">
                                <input type="number" class="form-control"  name="adults" placeholder="No. of Adults" required>
                            </div>
            <div class="input-group mb-3">
                                <input type="number" class="form-control" name="children" placeholder="No. of Children" required>
                            </div>
            <div class="input-group mb-3">
                                <input class="form-control" type="date" autocomplete="off" name="dob" placeholder="Date of Birth" required>
                            </div>
            <div class="input-group mb-3">
                                <input type="number" class="form-control" name="phn1" placeholder="Phone number 1" required>
                            </div>
            <div class="input-group mb-3">
                                <input type="number" class="form-control" name="phn2" placeholder="Phone number 2">
                            </div>
            <div class="input-group mb-3">
                                <input type="text" class="form-control" autocomplete="off" name="address" placeholder="Address" required>
                            </div>
            <div class="input-group mb-3">
                                <input type="number" class="form-control" name="address_pin" placeholder="Pincode">
                            </div>
                        </div>
                    
        <br><br>
        <h4 class="widget_title">Enter Trip Details</h4>
                    
                        <div class="form-group">
            <div class="input-group mb-3">
                                <input type="text" class="form-control" autocomplete="off" name="dest" placeholder="Destination City">
                            </div>
            <div class="input-group mb-3">
                                <input type="number" class="form-control" name="dest_pin" placeholder="Pincode">
                            </div>
            <div class="input-group mb-3">
                                <input type="date" class="form-control" autocomplete="off" id="dod" name="dod" placeholder="Date of Departure">
                            </div>
            <div class="input-group mb-3">
                                <input class="form-control" type="date" autocomplete="off" id="doa" onchange="myFunction()" name="doa" placeholder="Date of Arrival">
                            </div>
                        </div>

    <br><br>
        <h4 class="widget_title">Enter Room Details</h4>
                    
                        <div class="form-group">
            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="roomtype" placeholder="Type (ex: premium, business, economy)">
                            </div>
            <div class="input-group mb-3">
                                <input type="number" class="form-control" name="no of rooms" placeholder="No. of Rooms">
                            </div>
            <div class="input-group mb-3">
                                <input type="number" class="form-control" name="per room" placeholder="People per Room">
                            </div>
                        </div>

    <br><br>
        <h4 class="widget_title">Enter Payment Details</h4>
                    
                        <div class="form-group">
            <div class="input-group mb-3">
                                <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount (per day Rs.20,000)">
                            </div>
            <div class="input-group mb-3">
                                <input type="text" class="form-control" autocomplete="off" name="payment_mode" placeholder="Payment Mode (ex: cash, card)">
                            </div>
                        </div><br><br>

                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                            type="submit" value="submit">Register</button>
                    </form>
                    <script>
                        function myFunction() {
                          var x = document.getElementById("dod");
                          var y = document.getElementById("doa");
                          var z= document.getElementById("amount")
                          var date1 = new Date(x.value);
                          var date2 = new Date(y.value);
                          
                          var diffDays = parseInt((date2 - date1) / (1000 * 60 * 60 * 24), 10); 
                        z.value=diffDays * 20000
                        }
                    </script>   
</html>